*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General format for body  */

body
{
    background-size: cover ;
    background-position: center ;
    font-family: Lato;
}

/* Navbar */
.menu-bar
{
    background: rgb(71, 100, 71);
    text-align: center;
    z-index: 2;
}
.menu-bar ul
{
    display: inline-flex;
    list-style: none;
    color: #fff;
}

.logo .img{
    position: absolute;
    margin-top: 15px;
    margin-left: 15px;
    width: 10px;
    height: 10px;

}
.menu-bar ul li
{
    width: 130px;
    margin: 15px;
    padding: 15px;
}
.menu-bar ul li a
{
    text-decoration: none;
    color: #fff;
}
.active, .menu-bar ul li:hover
{
    background: #2bab0d;
    
}
.menu-bar .fa
{
    margin-right: 8px;
}
.sub-menu-1
{
    display: none;
}
.menu-bar ul li:hover .sub-menu-1
{
    display: block;
    position: absolute;
    background: rgb(0,100,0);
    margin-top: 15px;
    margin-left: -15px;
    z-index: 5;
}
.menu-bar ul li:hover .sub-menu-1 ul
{
    display: block;
    margin: 10px;
}
.menu-bar ul li:hover .sub-menu-1 ul li
{
    width: 150px;
    padding: 10px;
    border-bottom: 1px dotted #fff;
    background: transparent;
    border-radius: 0;
    text-align: left;
}
.menu-bar ul li:hover .sub-menu-1 ul li:last-child
{
    border-bottom: none;
}
.menu-bar ul li:hover .sub-menu-1 ul li a:hover
{
    color: #b2ff00;
}
.fa-angle-right
{
    float: right;
}
.sub-menu-2
{
    display: none;    
}
.hover-me:hover .sub-menu-2
{
    position: absolute;
    display: block;
    margin-top: -40px;
    margin-left: 140px;
    background: rgb(0,100,0);
    border-radius: 10em;
}

/* Slider  */
#slider{
  overflow: hidden;
  z-index: -1;
}
#slider figure{
  position: relative;
  width: 500%;
  height: 500px;
  margin: 0;
  left: 0;
  animation: 20s slider infinite;
}
#slider figure img{
  width: 20%;
  float: left;
}
@keyframes slider{
  0%{
    left: 0;
  }
  20%{
    left: 0;
  }
  25%{
    left: -100%;
  }
  45%{
    left: -100%;
  }
  50%{
    left: -200%;
  }
  70%{
    left: -200%;
  }
  75%{
    left: -300%;
  }
  95%{
    left: -300%;
  }
  100%{
    left: -400%;
  }
}

/* Products */
.ftco-section {
	padding: 6em 0;
	position: relative;
}

.ftco-no-pt{
	padding-top: 0 !important;
}
.ftco-no-pb{
	padding-bottom: 0 !important;
}

.ftco-bg-dark {
	background: #3c312e;
}
.heading-section{
	position: relative;
	}
.heading-section .subheading{
		font-size: 18px;
		display: block;
		margin-bottom: 10px;
		font-family: "Lora", Georgia, serif;
		font-style: italic;
		color: #82ae46;
}
h2{
		position: relative;
		font-size: 40px;
		font-weight: 600;
		color: black;
		font-family: Poppins;
		font-size: 28px;
	}
.our-product-description{
  font-family: Poppins, Arial, sans-serif;
  color: gray;
}
/* Product Items */
.ftco-product .owl-carousel .owl-stage-outer{
		padding-bottom: 2em;
		position: relative;
}
.product{
	display: block;
	width: 100%;
	margin-bottom: 30px;
	position: relative;
	transition:3s;
	border: 1px solid lighten(black,94%);	
	}

	.img-prod{
		position: relative;
		display: block;
		overflow: hidden;
  }
	.img-prod .overlay{
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			content: '';
			opacity:0;
			background: white;
      transition:3s;
		}
		span.status{
			position: absolute;
			top: 0;
			left: 0;
			padding: 2px 10px;
			color: white;
			font-weight: 300;
			background: wheat;
			font-size: 12px;
		}
    
		img{
			-webkit-transform: scale(1.0);
			-moz-transform: scale(1.0);
			-ms-transform: scale(1.0);
			-o-transform: scale(1.0);
			transform: scale(1.0);
      transition:3s;
		}
		img:hover, img:focus{
				-webkit-transform: scale(1.1);
				-moz-transform: scale(1.1);
				-ms-transform: scale(1.1);
				-o-transform: scale(1.1);
				transform: scale(1.1);
		}
		p.price{
			margin-bottom: 0;
			color:black;
			font-weight: 400;
    }
			span.price-dc{
				text-decoration: line-through;
				color: lighten(black,70%);
			}
			span.price-sale{
				color: black;
			}

		.pricing{
			width: 100%;
			transition:3s;
		}	

/* FOOTER  */
.footer{
  padding: 70 0;
  background-color: rgb(71, 100, 71);

}
.footer .container{
  width: auto;
  background-color: rgb(130, 150, 130);
  margin: auto;

}
.footer .container .row{
  display: flex;
  flex-wrap: wrap;
  
}
.footer .container .row .footer-col{
  width: 30%;
  padding: 0 30px;
}
.footer-col h4{
  font-size: 20px;
  color: rgb(87, 63, 20);
  text-transform: capitalize;
  margin-top: 20px;
  margin-bottom: 35px;
  font-weight: 500;
  font-family: Poppins;
  position: relative;
}
.footer-col h4:before{
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #e91e63;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer-col ul{
  list-style: none;
  text-decoration: none;
  text-transform: capitalize;
  margin-bottom: 30px;
  font-family: Poppins;
}
.footer-col ul li:not(:last-child){
  margin-bottom: 10px;
}
.footer-col ul li a{
  font-size: 18px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color:rgb(24, 26, 24);
  display: block;
  transition: all 0.3s ease;

}
.footer-col ul li a:hover{
  color: #3c3eaa;
  padding-left: 5px;
}
.footer-col .social-links a{
  display: inline-block;
  height: 50px;
  width: 50px;
  background-color: rgba(255, 255, 255 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #3c312e;
  transition:  all 0.5s ease;
}
.footer-col .social-links a:hover{
  color: #3c3eaa;
  background-color: #c96226;

}

/* Responsive */
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
  }
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
  }
}
.copyright{
  color: #ffffff;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  
}
.phucnguyen{
  text-decoration: none;
  color: #c03765;
}
.phucnguyen:hover{
  color: rgb(223, 181, 223);
  transform: scale();
}